@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 70px;
    margin-top: 0;
    padding: 2em;
    background-color: #F1DFF6;
    text-align: center;
    place-items: center;
}

h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #9646C0;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #F1DFF6;
    font-size: 16px;
    text-align: center;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9646c0;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #B963D6;
    text-align: center;
    place-items: center;

}

/*texto centrado, nombre antiguo*/

.left-text {
    display: block;
    text-align: center;
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: small;
    line-height: 1.5;
    letter-spacing: 0.5px;
    width: 100%;
    color: #2a013b;
    align-self: center;
    place-items: center;
}

/* contenedor principal */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three equal columns */
    gap: 5em;
    align-items: start;
    padding: 2em;
     place-items: center;
}

/* Text content inside the grid */
.left-text p {
    width: 700px;
    align-self: center;
       place-items: center;
}

/* Shared button styles */
.button-casiopea,
.button-info,
.button-wiki {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20px 30px;
    border: none;
    color: #F1DFF6;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    display: block;
    width: fit-content;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: none;
}

/* Individual button colors */
.button-casiopea {
    background-color: #b963d6;
}

.button-casiopea:hover {
    background: #2a013b;
    color: #b963d6;
}

.button-wiki {
    background-color: #9646C0;
}

.button-wiki:hover {
    background: #2a013b;
    color: #b963d6;
}

.button-info {
    background-color: #7328A9;
}

.button-info:hover {
    background: #2a013b;
    color: #b963d6;
}



.proyectos {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    align-self: center;
}

/*tarjeta*/

.tarjeta {
    background-color: #2a013b;
    border-radius: 30px;
    overflow: hidden;
    width: 150px;
    align-self: center;
    /* or any desired size */

}


.tarjeta a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.tarjeta a:hover {
    filter: brightness(70%);
    transform: scale(1.05);
}

.tarjeta img {
    display: block;
    width: 100%;
}